@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 93.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/






/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner{
  background: url("https://via.placeholder.com/1351x670/161F21") 50% 50% no-repeat;
  background-size: cover;
  padding-bottom: 45px;
}

header{
  padding: 19px 0 33px;
}

header a{
  text-transform: capitalize;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
}

h1{
  display: inline-block;
}

.hamburger{
  display: none;
}

nav{
  display: inline-block;
  padding-left: 2%;
}

nav a{
  padding: 10px 10px;
}

.sign-in{
  display: -webkit-inline-box;
  display: inline-block;
  float: right;
}

.down-side-arrow::after{
  content: '\f107';
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  font-size: 20px;
  color: white;
  padding-left: 5px;
}

.globe{
  text-indent: -9999px;
  display: inline-block;
}

.globe::before{
  content: '\f0ac';
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  font-size: 25px;
  color: white;
  padding-right: 15px;
}

.sign-in a:last-of-type{
  color: black;
  background-color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 25px;
}


.start{
  
  background-color:#3689B3; 
  /* #65BADE */
  width: 49.5%;
  text-align: center;
  margin: 0 auto;
}

h2{
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  color: #FFFFFF;
  word-spacing: -5px;
  padding:45px 4%;
}

.start a{
  color: #538BCC;
  text-transform: capitalize;
  font-size: 20px;
  background-color: #FFFFFF;
  padding: 15px 5%;
  margin-bottom: 375px;
  font-weight: 500;
  border-radius: 35px;
  font-family: 'Montserrat', sans-serif;
  word-spacing: -1px;
}




/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/